.charsheet {
    background-color: #27262b;
    color: #f2f2f2;
}

label,
span {
    margin-bottom: 0px;
}

.charsheet textarea.input-area-short {
    vertical-align: top;
    width: 400px;
    height: 35px;
}

h1,
h2,
h3,
h4,
h5,
label {
    color: #f2f2f2;
}

/*Configure the tab buttons*/
.sheet-character,
.sheet-shifts,
.sheet-actions,
.sheet-triggers,
.sheet-powers,
.sheet-gear,
.sheet-minions,
.sheet-journal,
.sheet-cosm,
.sheet-bamf {
    display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"]~div.sheet-character,
.charsheet .sheet-tabstoggle[value="shifts"]~div.sheet-shifts,
.charsheet .sheet-tabstoggle[value="actions"]~div.sheet-actions,
.charsheet .sheet-tabstoggle[value="triggers"]~div.sheet-triggers,
.charsheet .sheet-tabstoggle[value="powers"]~div.sheet-powers,
.charsheet .sheet-tabstoggle[value="gear"]~div.sheet-gear,
.charsheet .sheet-tabstoggle[value="minions"]~div.sheet-minions,
.charsheet .sheet-tabstoggle[value="journal"]~div.sheet-journal {
    display: block;
}

.charsheet .sheet-is-cosm[value="1"]~.sheet-cosm {
    display: block;
}

.charsheet .sheet-is-bamf[value="1"]~.sheet-bamf {
    display: block;
}

.charsheet .sheet-is-cosm[value="1"]~div.banner-wrapper,
.charsheet .sheet-is-cosm[value="1"]~div.nav-bar,
.charsheet .sheet-is-cosm[value="1"]~div.sheet-tabstoggle,
.charsheet .sheet-is-cosm[value="1"]~div.sheet-character,
.charsheet .sheet-is-cosm[value="1"]~div.sheet-shifts,
.charsheet .sheet-is-cosm[value="1"]~div.sheet-actions,
.charsheet .sheet-is-cosm[value="1"]~div.sheet-triggers,
.charsheet .sheet-is-cosm[value="1"]~div.sheet-powers,
.charsheet .sheet-is-cosm[value="1"]~div.sheet-gear,
.charsheet .sheet-is-cosm[value="1"]~div.sheet-journal {
    display: none;
}

.sheet-character-traits,
.sheet-character-skills,
.sheet-character-static,
.sheet-character-training,
.sheet-character-targets,
.sheet-actions-abilities,
.sheet-actions-recover,
.sheet-actions-maneuvers,
.sheet-powers-arcana,
.sheet-powers-concoctions,
.sheet-powers-epics,
.sheet-powers-gifts,
.sheet-powers-hexes,
.sheet-powers-marvels,
.sheet-powers-rites,
.sheet-powers-spells,
.sheet-powers-spirits,
.sheet-powers-techniques,
.sheet-gear-equipment,
.sheet-gear-concoctions {
    display: none;
}

.charsheet .subsheet-tabstoggle[value="traits"]~div.sheet-character-traits,
.charsheet .subsheet-tabstoggle[value="skills"]~div.sheet-character-skills,
.charsheet .subsheet-tabstoggle[value="static"]~div.sheet-character-static,
.charsheet .subsheet-tabstoggle[value="training"]~div.sheet-character-training,
.charsheet .subsheet-tabstoggle[value="targets"]~div.sheet-character-targets,
.charsheet .subsheet-tabstoggle[value="abilities"]~div.sheet-actions-abilities,
.charsheet .subsheet-tabstoggle[value="recover"]~div.sheet-actions-recover,
.charsheet .subsheet-tabstoggle[value="maneuvers"]~div.sheet-actions-maneuvers,
.charsheet .subsheet-tabstoggle[value="arcana"]~div.sheet-powers-arcana,
.charsheet .subsheet-tabstoggle[value="epics"]~div.sheet-powers-epics,
.charsheet .subsheet-tabstoggle[value="gifts"]~div.sheet-powers-gifts,
.charsheet .subsheet-tabstoggle[value="hexes"]~div.sheet-powers-hexes,
.charsheet .subsheet-tabstoggle[value="marvels"]~div.sheet-powers-marvels,
.charsheet .subsheet-tabstoggle[value="rites"]~div.sheet-powers-rites,
.charsheet .subsheet-tabstoggle[value="spells"]~div.sheet-powers-spells,
.charsheet .subsheet-tabstoggle[value="spirits"]~div.sheet-powers-spirits,
.charsheet .subsheet-tabstoggle[value="techniques"]~div.sheet-powers-techniques,
.charsheet .subsheet-tabstoggle[value="equipment"]~div.sheet-gear-equipment,
.charsheet .subsheet-tabstoggle[value="concoctions"]~div.sheet-gear-concoctions {
    display: block;
}

/*.charsheet .sheet-character*/
.charsheet .sheet-training-ranks[value="0"]+.sheet-training-talents {
    display: none;
}

.charsheet .sheet-training-ranks+.sheet-training-talents {
    display: block;
}

.charsheet .sheet-powers-affinity~.sheet-power-aether,
.charsheet .sheet-powers-affinity~.sheet-power-bellor,
.charsheet .sheet-powers-affinity~.sheet-power-inferno,
.charsheet .sheet-powers-affinity~.sheet-power-locus,
.charsheet .sheet-powers-affinity~.sheet-power-lux,
.charsheet .sheet-powers-affinity~.sheet-power-mentis,
.charsheet .sheet-powers-affinity~.sheet-power-mori,
.charsheet .sheet-powers-affinity~.sheet-power-nihil,
.charsheet .sheet-powers-affinity~.sheet-power-nox,
.charsheet .sheet-powers-affinity~.sheet-power-ordi,
.charsheet .sheet-powers-affinity~.sheet-power-phylla,
.charsheet .sheet-powers-affinity~.sheet-power-plaga,
.charsheet .sheet-powers-affinity~.sheet-power-rime,
.charsheet .sheet-powers-affinity~.sheet-power-sangui,
.charsheet .sheet-powers-affinity~.sheet-power-squall,
.charsheet .sheet-powers-affinity~.sheet-power-tellus,
.charsheet .sheet-powers-affinity~.sheet-power-tempest,
.charsheet .sheet-powers-affinity~.sheet-power-tempor,
.charsheet .sheet-powers-affinity~.sheet-power-torrent,
.charsheet .sheet-powers-affinity~.sheet-power-vivus {
    display: none;
}

.charsheet .sheet-powers-affinity[value="Aether"]~.sheet-power-aether,
.charsheet .sheet-powers-affinity[value="Bellor"]~.sheet-power-bellor,
.charsheet .sheet-powers-affinity[value="Inferno"]~.sheet-power-inferno,
.charsheet .sheet-powers-affinity[value="Locus"]~.sheet-power-locus,
.charsheet .sheet-powers-affinity[value="Lux"]~.sheet-power-lux,
.charsheet .sheet-powers-affinity[value="Mentis"]~.sheet-power-mentis,
.charsheet .sheet-powers-affinity[value="Mori"]~.sheet-power-mori,
.charsheet .sheet-powers-affinity[value="Nihil"]~.sheet-power-nihil,
.charsheet .sheet-powers-affinity[value="Nox"]~.sheet-power-nox,
.charsheet .sheet-powers-affinity[value="Ordi"]~.sheet-power-ordi,
.charsheet .sheet-powers-affinity[value="Phylla"]~.sheet-power-phylla,
.charsheet .sheet-powers-affinity[value="Plaga"]~.sheet-power-plaga,
.charsheet .sheet-powers-affinity[value="Rime"]~.sheet-power-rime,
.charsheet .sheet-powers-affinity[value="Sangui"]~.sheet-power-sangui,
.charsheet .sheet-powers-affinity[value="Squall"]~.sheet-power-squall,
.charsheet .sheet-powers-affinity[value="Tellus"]~.sheet-power-tellus,
.charsheet .sheet-powers-affinity[value="Tempest"]~.sheet-power-tempest,
.charsheet .sheet-powers-affinity[value="Tempor"]~.sheet-power-tempor,
.charsheet .sheet-powers-affinity[value="Torrent"]~.sheet-power-torrent,
.charsheet .sheet-powers-affinity[value="Vivus"]~.sheet-power-vivus {
    display: block;
}



input[type=checkbox]:not(:checked)~.talent-rollbox {
    display: none;
}

input[type=checkbox]:checked~.talent-rollbox {
    display: inline;
}

input[type=checkbox]:not(:checked)~.grid-container-concoction {
    display: none;
}

input[type=checkbox]:checked~.grid-container-concoction {
    display: grid;
}

.charsheet input[value="Nerve"]+.grid-f1,
.charsheet input[value="Nerve"]+.grid-f5,
.charsheet input[value="Reflexes"]+.grid-f2,
.charsheet input[value="Reflexes"]+.grid-f6,
.charsheet input[value="Vigor"]+.grid-f3,
.charsheet input[value="Vigor"]+.grid-f7 {
    background-color: #6962a6;
}

.skill-list {
    /*display: inline-block;*/
    text-align: left;
    font-size: 16px;
    width: 500px;
}

.skill-button {
    margin: 0.005em;
    font-size: 8pt;
    /* font-weight: bold; */
    padding: 0.02em;
}

.skill-rank-input {
    margin-left: 0.005em;
    margin-right: 0.005em;
}

.charsheet button[type="roll"].txt-btn:before {
    content: ' ';
}

.charsheet button[type="roll"].txt-btn {
    height: 11;
    border-style: none;
    background-color: transparent;
    margin: 0.005em;
    font-weight: normal;
    padding: 0.05em;
    font-size: 9pt;
}

.charsheet button[type="action"].txt-btn {
    height: 16;
    border-style: solid 1px #37344f;
    background-color: #4e4877;
    color: #f2f2f2;
    margin: 0.15em;
    font-weight: normal;
    padding: 0.30em;
    font-size: 13pt;
}

.charsheet button[type="action"].txt-btn:hover {
    background-color: #75b0f3;
    color: #2c2a37;
    /* border-radius: 3px; */
}

.trait-header {
    font-size: 12pt;
    font-weight: bold;
}

.trait-input {
    width: 30px;
    height: 30px;
}

.charsheet button[type="roll"].txt-btn:hover {
    background-color: #75b0f3;
    color: #2c2a37;
    /* border-radius: 3px; */
}

.grid-container {
    display: grid;
    background-color: #2c2a37;
    grid-gap: 5px;
    padding: 5px;
    width: 850;
    grid-template-columns: auto;
}

.grid-2col {
    display: grid;
    background-color: #2c2a37;
    grid-gap: 5px;
    padding: 5px;
    width: auto;
    grid-template-columns: auto auto;
}

.grid-3col {
    display: grid;
    background-color: #2c2a37;
    grid-gap: 5px;
    padding: 5px;
    width: auto;
    grid-template-columns: auto auto auto;
}

.grid-6col {
    display: grid;
    background-color: #2c2a37;
    grid-gap: 5px;
    padding: 5px;
    width: auto;
    grid-template-columns: repeat(6, [col] auto);
}

.grid-cosm-header {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.sheet-cosm-body {
    display: grid;
    grid-template-columns: auto auto;
    text-align: right;
}

.grid-bamf-header {
    text-align: center;
}

.grid-bamf-body {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-bamf-roller {
    display: grid;
    grid-template-columns: repeat(6, [col] auto);
}

.banner-wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(6, [col] auto);
    align-self: center;
    background-color: #2c2a37;
}

.banner-wrapper .grid-item>button[type="roll"] {
    padding: 2px 10px;
}

.banner-wrapper .grid-e .grid-item>button[type="roll"] {
    margin: 0px 6px 0px 6px;
}

.grid-item {
    background-color: #37344f;
    color: #f2f2f2;
    border-radius: 5px;
    padding: 2px;
    font-size: 100%;
    text-align: center;
}

.grid-a {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.grid-b {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 1fr 4fr;
}

.grid-b1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.grid-b2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    font-weight: bold;
}

.grid-b3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.grid-c {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 2fr 2fr;
}

.grid-c1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
}

.grid-c2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    vertical-align: center;
    font-size: 10pt;
}

.grid-c3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    text-align: center;
    vertical-align: center;
    font-size: 10pt;
}

.grid-c4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    vertical-align: center;
}

.grid-c5 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    vertical-align: center;
}

.grid-d {
    grid-column: 4 / span 3;
    grid-row: 1 / span 1;
    display: grid;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
}

.grid-d1 {
    grid-column: 1/ span 1;
    grid-row: 1 / span 1;
}

.grid-d2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.grid-d3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.grid-d4 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.grid-d5 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
}

.grid-d6 {
    grid-column: 1/ span 1;
    grid-row: 2 / span 1;
}

.grid-d7 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.grid-d8 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.grid-d9 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

.grid-d10 {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
}

.grid-e {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    text-align: center;
    justify-content: center;
}

.grid-e1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    text-align: center;
}

.grid-e2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.grid-e3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.grid-f {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    display: grid;
}

.grid-f1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

.grid-f2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

.grid-f3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
}

.grid-f4 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    background-color: #555555ce;
}

.grid-f5{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

.grid-f6 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

.grid-f7 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
}

.grid-f8 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    text-align: center;
    background-color: #555555ce;
}

.grid-g {
    grid-column: 4 / span 3;
    grid-row: 2 / span 1;
    display: grid;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
}

.grid-g1 {
    grid-column: 2/ span 1;
    grid-row: 1 / span 1;
}

.grid-g2 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.grid-g3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.grid-g4 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
}

.grid-g5 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
}

.grid-h {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    display: grid;
    text-align: center;
}

.grid-h1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.grid-h2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.grid-h3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.grid-h4 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
}

.grid-h5 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
}

.grid-h6 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
}

.grid-h7 {
    grid-column: 7 / span 1;
    grid-row: 1 / span 2;
    background-color: #bd2222ce;
    font-weight: bold;
}

.grid-h8 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.grid-h9 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.grid-h10 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.grid-h11 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

.grid-h12 {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
}

.grid-h13 {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
}

.grid-h14 {
    grid-column: 7 / span 1;
    grid-row: 2 / span 1;
    background-color: transparent;

}

.grid-i {
    grid-column: 4 / span 3;
    grid-row: 3 / span 1;
    display: grid;
    text-align: center;
    align-items: center;
}

.grid-i1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.grid-i2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.grid-i3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.grid-i4 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.grid-i5 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.grid-i6 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.grid-j {
    grid-column: 1 / span 6;
    grid-row: 4 / span 1;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(16, [col] auto)
}

.grid-j-items {
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(8, [col] auto)
}

.grid-sheet-character {
    display: grid;
    background-color: #2c2a37;
    grid-gap: 5px;
    padding: 5px;
    width: auto;
    grid-template-columns: 1fr 1fr;
}

.grid-character-traits {
    display: grid;
    background-color: #2c2a37;
    grid-gap: 5px;
    padding: 3px;
    grid-template-columns: 3fr 1fr 1fr;
}

.grid-character-trait-label {
    background-color: #37344f;
    /* border: 1px solid #f2f2f2; */
    padding: 1px;
    border-radius: 5px;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    grid-template-columns: 1fr;
}

.grid-trait-item {
    background-color: #2c2a37;
    color: #f2f2f2;
    border-radius: 5px;
    padding: 2px;
    font-size: 100%;
    text-align: center;
}

.grid-character-grit {
    display: grid;
    background-color: #2c2a37;
    grid-gap: 5px;
    padding: 3px;
    grid-template-columns: auto auto;
}

.grid-character-grit-label {
    background-color: #37344f;
    padding: 1px;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-template-columns: 1fr;
}

.grid-character-skill {
    display: grid;
    background-color: #2c2a37;
    padding: 5px;
    width: 700;
    grid-template-columns: repeat(7, [col] auto);
}

.grid-skill-roller-action {
    display: grid;
    grid-template-columns: repeat(4, [col] auto);
}

.grid-skill-roller-effect {
    display: grid;
    grid-template-columns: repeat(5, [col] auto);
}

.grid-character-skill-item {
    background-color: #37344f;
    padding: 1px;
    text-align: right;
}

.grid-character-skill-savvy {
    display: grid;
    grid-template-rows: 1 / span 7;
    grid-template-columns: auto auto;
}

.grid-character-skills-trait-label {
    background-color: #33303e;
    border: 1px solid #f2f2f2;
    padding: 1px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 7;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-template-columns: 1fr;
}

.grid-character-skills-type-label {
    background-color: #33303e;
    border: 1px solid #f2f2f2;
    padding: 1px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 7;
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-template-columns: 1fr;
}

.grid-character-skill-col1 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 10;
    grid-template-columns: 2fr 3fr 1fr 1fr;
}

.grid-character-skill-col2 {
    grid-column-start: 5;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 10;
    grid-template-columns: 2fr 3fr 1fr 1fr;
}

.grid-character-training {
    display: grid;
    background-color: #2c2a37;
    padding: 5px;
    width: 700;
    grid-template-columns: repeat(3, [col] auto);
}

.grid-character-training-label {
    background-color: #33303e;
    border: 1px solid #f2f2f2;
    padding: 1px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 1;

}

.grid-character-training-item {
    background-color: #33303e;
    border: 1px solid #f2f2f2;
    padding: 1px;
    text-align: center;
}

.grid-targets {
    display: grid;
    grid-template-columns: 4fr 1fr;
    text-align: right;
    justify-self: center;
    grid-gap: 3px;
}

.grid-item-targets {
    text-align: right;
    /* align-content: start; */
}

.grid-shifts {
    display: grid;
    background-color: #2c2a37;
    grid-gap: 5px;
    padding: 5px;
    width: 700;
    grid-template-columns: repeat(2, [col] auto);
}

.grid-shifts-label {
    font-size: 18pt;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.item-header {
    font-size: 12pt;
    font-weight: bold;
}


.grid-container-talents {
    display: grid;
    grid-gap: 5px;
    background-color: #27262b;
    padding: 3px;
    width: 850;
    grid-template-columns: 415px 415px;
}

.grid-talents-label {
    background-color: #27262b;
    margin-bottom: 0px;
    margin-top: 6px;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

.grid-item-talents {
    display: grid;
    background-color: #33303e;
    color: #f2f2f2;
    padding: 3px;
    text-align: left;
    border-radius: 5px;
    margin: 2px;
    grid-template-columns: auto auto;
    font-size: 10pt;
}

.grid-item-talents>*:nth-child(1) {
    font-size: 12pt;
    font-weight: bold;
}

.grid-item-talents>*:nth-child(2) {
    font-size: 8;
    font-weight: bold;
}

.grid-item-talents>*:nth-child(odd) {
    text-align: left;
}

.grid-item-talents>*:nth-child(even) {
    text-align: right;
}

.grid-arcana-item {
    background-color: #413e47;
    border: 1px solid #727272;
    padding: 1px;
    margin: 2px;
    grid-column-end: span 1;
}

.grid-arcana-table {
    display: grid;
    grid-template-columns: 50px auto;

}

.arcana-data {
    grid-column-end: span 1;
    padding: 4px;
    border: 1px solid #bdbdb1;
}

.grid-container-spells {
    display: grid;
    grid-gap: 5px;
    background-color: #27262b;
    padding: 3px;
    width: auto;
    grid-template-columns: auto auto auto;
}

.grid-item-spells {
    background-color: #33303e;
    color: #f2f2f2;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-spells-kwords {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    font-size: 8pt;
}

.grid-spells-name {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    color: #f2f2f2;
    padding: 3px;
    text-align: left;
    border-radius: 1px;
    margin: 2px;
    font-weight: bold;
}

.grid-spells-ranks {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    text-align: right;
}

.grid-spells-ranks input[type="number"] {
    width: 25px;
}

.grid-spells-btn {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    font-size: 8pt;
    text-align: right;
}

.grid-spells-effects {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    font-size: 8pt;
}

.gear-equipment-body {
    display: grid;
    grid-template-columns: auto auto;
}

.gear-equipment-entries {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

.grid-container-concoction {
    display: grid;
    background-color: #2c2a37;
    text-align: left;
    grid-gap: 5px;
    padding: 5px;
    width: 850;
    grid-template-columns: auto auto auto;
}

.grid-concoction {
    text-align: left;
}

.grid-minions {
    display: grid;
    grid-template-columns: 4fr 1fr;
    text-align: right;
    justify-self: center;
    grid-gap: 3px;
    grid-template-columns: auto auto auto;
}

.grid-item-minions {
    text-align: center;
    align-content: center;
}

.grid-item-minions>.grid-container {
    display: none;
}

.grid-item-minions:has(> select option[value="stalker"]:checked)>.grid-item-stalker,
.grid-item-minions:has(> select option[value="ambusher"]:checked)>.grid-item-ambusher,
.grid-item-minions:has(> select option[value="ravager"]:checked)>.grid-item-ravager,
.grid-item-minions:has(> select option[value="hardy"]:checked)>.grid-item-hardy,
.grid-item-minions:has(> select option[value="watcher"]:checked)>.grid-item-watcher,
.grid-item-minions:has(> select option[value="tracker"]:checked)>.grid-item-tracker,
.grid-item-minions:has(> select option[value="striker"]:checked)>.grid-item-striker,
.grid-item-minions:has(> select option[value="charger"]:checked)>.grid-item-charger,
.grid-item-minions:has(> select option[value="sentry"]:checked)>.grid-item-sentry,
.grid-item-minions:has(> select option[value="decoy"]:checked)>.grid-item-decoy,
.grid-item-minions:has(> select option[value="sapper"]:checked)>.grid-item-sapper,
.grid-item-minions:has(> select option[value="spu ki"]:checked)>.grid-item-spu_ki,
.grid-item-minions:has(> select option[value="bodyguard"]:checked)>.grid-item-bodyguard,
.grid-item-minions:has(> select option[value="enforcer"]:checked)>.grid-item-enforcer,
.grid-item-minions:has(> select option[value="battler"]:checked)>.grid-item-battler,
.grid-item-minions:has(> select option[value="piker"]:checked)>.grid-item-piker,
.grid-item-minions:has(> select option[value="arcanist"]:checked)>.grid-item-arcanist,
.grid-item-minions:has(> select option[value="medic"]:checked)>.grid-item-medic,
.grid-item-minions:has(> select option[value="archer"]:checked)>.grid-item-archer,
.grid-item-minions:has(> select option[value="rogue"]:checked)>.grid-item-rogue,
.grid-item-minions:has(> select option[value="veteran"]:checked)>.grid-item-veteran,
.grid-item-minions:has(> select option[value="cutthroat"]:checked)>.grid-item-cutthroat,
.grid-item-minions:has(> select option[value="consular"]:checked)>.grid-item-consular,
.grid-item-minions:has(> select option[value="agent"]:checked)>.grid-item-agent,
.grid-item-minions:has(> select option:checked:not([value=""]))>.grid-item-retainer {
    display: grid;
}

.grid-item-retainer {
    text-align: left;
    align-content: left;
}


.grid-journal {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item.grid-journal {
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.demos {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.roller {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.talent {
    display: inline-grid;
    grid-column: 1 / span 2;
    grid-row: 3;
}

.talent-1 {
    grid-area: 1 / 1 / 4 / 2;
}

.talent-2 {
    grid-area: 1 / 2 / 4 / 3;
}

.talent-3 {
    grid-area: 1 / 3 / 4 / 4;
}

.trait {
    display: inline-grid;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.trait-1 {
    grid-area: 1 / 1 / 4 / 2;
}

.trait-2 {
    grid-area: 1 / 2 / 4 / 3;
}

.trait-3 {
    grid-area: 1 / 3 / 4 / 4;
}

.trait-4 {
    grid-area: 1 / 4 / 4 / 5;
}

.trait-5 {
    grid-area: 1 / 5 / 4 / 6;
}

.talents {
    grid-column: 1;
    grid-row: 4 / span 3;
}