/*Configure the tab buttons*/
.sheet-character,
.sheet-shifts,
.sheet-actions,
.sheet-triggers,
.sheet-powers,
.sheet-journal {
  display: none;
}

/* show the selected tab */
.charsheet .sheet-tabstoggle[value="character"]~div.sheet-character,
.charsheet .sheet-tabstoggle[value="shifts"]~div.sheet-shifts,
.charsheet .sheet-tabstoggle[value="actions"]~div.sheet-actions,
.charsheet .sheet-tabstoggle[value="triggers"]~div.sheet-triggers,
.charsheet .sheet-tabstoggle[value="powers"]~div.sheet-powers,
.charsheet .sheet-tabstoggle[value="journal"]~div.sheet-journal {
  display: block;
}

.sheet-character-traits,
.sheet-character-skills,
.sheet-character-static,
.sheet-character-training,
.sheet-actions-abilities,
.sheet-actions-recover,
.sheet-actions-maneuvers {
  display: none;
}

.charsheet .subsheet-tabstoggle[value="traits"]~div.sheet-character-traits,
.charsheet .subsheet-tabstoggle[value="skills"]~div.sheet-character-skills,
.charsheet .subsheet-tabstoggle[value="static"]~div.sheet-character-static,
.charsheet .subsheet-tabstoggle[value="training"]~div.sheet-character-training,
.charsheet .subsheet-tabstoggle[value="abilities"]~div.sheet-actions-abilities,
.charsheet .subsheet-tabstoggle[value="recover"]~div.sheet-actions-recover,
.charsheet .subsheet-tabstoggle[value="maneuvers"]~div.sheet-actions-maneuvers {
  display: block;
}

/*.charsheet .sheet-character*/
.charsheet .sheet-training-ranks[value="0"] ~ .sheet-training-talents {
  display: none;
}

.charsheet .sheet-training-ranks ~ .sheet-training-talents {
  display: block;
}

input[type=checkbox]:not(:checked)~ .talent-rollbox {
	display: none;
	}
input[type=checkbox]:checked~ .talent-rollbox {
	display: block;
	}

.skill-list {
  /*display: inline-block;*/
  text-align: left;
  font-size: 16px;
  width: 500px;
}

.skill-button {
  margin-right: 10px;
}

.charsheet button[type="roll"].txt-btn:before {
  content: ' ';
}

.charsheet button[type="roll"].txt-btn {
  height: 14;
  border-style: none;
  background-color: transparent;
  margin-left: 2px;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  font-size: 10px;
}

.trait-header {
  font-size: 20px;
  font-weight: bold;
}

.trait-input {
  width: 50px;
  height: 50px;
}

.charsheet button[type="roll"].txt-btn:hover {
  background-color: #d9d9d9;
  border-radius: 3px;
}

.grid-container {
  display: grid;
  background-color: #2196f3;
  padding: 5px;
  width: 850;
  grid-template-columns: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
}

.grid-banner-wrapper {
  display: grid;
  background-color: #2196d1;
  padding: 2px;
  width: 850;
  grid-template-columns: repeat(12, [col] auto);
  grid-template-rows: auto auto auto auto;
}

.grid-banner {
  display: grid;
  background-color: #2196f3;
  padding: 1px;
  width: 850;
}

.grid-banner-logo {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 4;
}

.grid-banner-name {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-template-columns: 1fr 4fr;
}

.grid-banner-init {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-template-columns: 2fr 1fr 1fr;
}
.grid-banner-bhits {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.grid-banner-hazards {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.grid-banner-grit {
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
}

.grid-banner-deflabel {
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.grid-banner-defenses {
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-banner-traitlabel {
  grid-column-start: 7;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.grid-banner-traits {
  grid-column-start: 7;
  grid-column-end: span 4;
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-banner-rerolls {
  grid-column-start: 5;
  grid-column-end: span 7;
  grid-row-start: 4;
  grid-row-end: span 1;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-sheet-character {
  display: grid;
  background-color: #2196f3;
  padding: 5px;
  width: 700;
  grid-template-columns: repeat(3, [col] auto);
}

.grid-character-traits {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 10;
  grid-template-columns: 3fr 1fr 1fr;
}

.grid-character-trait-label {
  background-color: rgba(255, 255, 200, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-template-columns: 1fr;
}

.grid-character-trait-item {
  background-color: rgba(255, 255, 200, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 10;
  grid-template-columns: 3fr 1fr 1fr;
}

.grid-character-grit {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 4;
  grid-template-columns: 3fr 1fr 1fr;
}

.grid-character-grit-label {
  background-color: rgba(200, 200, 200, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-template-columns: 1fr;
}

.grid-character-defenses {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 6;
  grid-row-end: span 8;
  grid-template-columns: 3fr 1fr 1fr;
}

.grid-character-defense-label {
  background-color: rgba(255, 200, 200, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 6;
  grid-row-end: span 1;
  grid-template-columns: 1fr;
}

.grid-character-defense-item {
  background-color: rgba(255, 200, 200, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: right;
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 6;
  grid-row-end: span 10;
  grid-template-columns: 3fr 1fr 1fr;
}

.grid-character-skill {
  display: grid;
  background-color: #2196f3;
  padding: 5px;
  width: 700;
  grid-template-columns: repeat(7, [col] auto);
}

.grid-character-skills-trait-label {
  background-color: rgba(100, 100, 100, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 7;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-template-columns: 1fr;
}

.grid-character-skills-type-label {
  background-color: rgba(100, 100, 100, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 7;
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-template-columns: 1fr;
}

.grid-character-skill-item {
  background-color: rgba(150, 150, 125, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: right;
  /*
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 6;
  grid-row-end: span 10;
  grid-template-columns: 3fr 1fr 1fr;
  */
}

.grid-character-skill-col1 {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 10;
  grid-template-columns: 2fr 3fr 1fr 1fr;
}

.grid-character-skill-col2 {
  grid-column-start: 5;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 10;
  grid-template-columns: 2fr 3fr 1fr 1fr;
}

.grid-character-training {
  display: grid;
  background-color: #2196f3;
  padding: 5px;
  width: 700;
  grid-template-columns: repeat(3, [col] auto);
}

.grid-character-training-label {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  
}

.grid-character-training-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  text-align: center;
}

.grid-shifts {
  display: grid;
  background-color: #2196f3;
  padding: 5px;
  width: 700;
  grid-template-columns: repeat(3, [col] auto);
}

.grid-shifts-label {
  grid-column-start: 1;
  grid-column-end: span 3;
}

.demos {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.roller {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.talent {
  display: inline-grid;
  grid-column: 1 / span 2;
  grid-row: 3;
}

.talent-1 {
  grid-area: 1 / 1 / 4 / 2;
}

.talent-2 {
  grid-area: 1 / 2 / 4 / 3;
}

.talent-3 {
  grid-area: 1 / 3 / 4 / 4;
}

.trait {
  display: inline-grid;
  grid-column: 1 / span 2;
  grid-row: 2;
}

.trait-1 {
  grid-area: 1 / 1 / 4 / 2;
}

.trait-2 {
  grid-area: 1 / 2 / 4 / 3;
}

.trait-3 {
  grid-area: 1 / 3 / 4 / 4;
}

.trait-4 {
  grid-area: 1 / 4 / 4 / 5;
}

.trait-5 {
  grid-area: 1 / 5 / 4 / 6;
}

.talents {
  grid-column: 1;
  grid-row: 4 / span 3;
}
